* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/*
* GLOBAL
*/

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.sections {
    margin-left: 60px;
    position: relative;
}


/*
* HEADER
*/

header {
    background-color: #eeeeee;
    padding: 10px;
    position: fixed;
    width: 100%;
    margin-bottom: 50px;
}

header h3, .header-nav {
    display: inline-block;
    vertical-align: baseline;
}

.header-nav {
    position: absolute;
    right: 15px;
}

.header-nav ul {
    margin: 0;
}

.header-nav ul li a {
    color: rgb(110, 96, 145);
}

.header-nav ul li, .page-nav ul li {
    padding-left: 10px;
    display: inline-block;
    margin: 0;
}

/*
* SEARCH
*/

.search {
    padding-top: 60px;
    margin-bottom: 40px;
}

label {
    display: block;
}

.input {
    width: 500px;
    height: 35px;
    border-radius: 5px;
    border: 1px rgb(239, 239, 239) solid;
    padding: 5px;
}

.img {
    display: inline-block;
    width: 35px;
    vertical-align: middle;
}

/*
* PAGE NAVIGATION
*/

.page-nav {
    font-size: 0;
    margin-bottom: 50px;
}

.page-nav ul {
    margin: 0;
}

.page-nav ul li {
    padding: 10px;
    font-size: 16px;
    border: 1px rgb(225, 225, 225) solid;
}

.first {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-nav a {
    color: black;
}

/*
* LISTINGS
*/

.listings li {
    padding: 5px;
    padding-left: 0;
}

.date, .location {
    padding-right: 5px;
    color: rgb(181, 179, 177);
}

.posting-title {
    padding-right: 5px;
    color: rgb(29, 83, 227);
    font-weight: bold;
}
